@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Elegant custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-stone-200 dark:bg-stone-800 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-300 dark:bg-stone-700;
  }
}
